#head-logo {
    text-decoration: none !important;
    display: inline-block;
    padding: 10px 20px;
    color:rgb(96, 117, 65);

}

li {
    display: inline-flex;

}

li a {
    text-decoration: none !important;
    color: rgb(1, 4, 4);
}

li a:hover {
    color: darkgray;
}

