#head-logo {
    text-decoration: none !important;
    display: inline-flex;
    margin-left: 20px;
    color:rgb(96, 117, 65);
    font-size: 50px;

}

#navigation-bar {
    display: inline-flex;
    justify-content: space-between; 
    align-items: center;
}

li {
    display: inline-flex;
    padding: space;
   

}

li a {
    text-decoration: none !important;
    color: rgb(96, 117, 65);
    padding-right: 200px;
    padding-left: 0px;
    margin: 10px


}

li a:hover {
    color: darkgray;
}

